@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'PT Sans', sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: #ffffff;
}

.maininfo{
    font-family: 'PT Sans', sans-serif;
}

.maintitle{
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    font-size: 20vh;
    margin: 1 auto;
}

.subtitle{
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
    margin-left: 18%;
    position: absolute;
    top: 400px;
    padding-top: 1px;
    font-size: 10vh;
    font-family: 'Raleway', sans-serif;
}

.bubbles1{
    width: 1000px;
    height: 1000px;
    display: block;
    margin-left: 20%;
    margin-right: 20%;
}


.personalinfo{
    font-family: 'Raleway', sans-serif;
    background-image: url(../images/silla.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.title-info{
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 250px;
    font-size: 30vh;
    margin: 1 auto;
}

.personal-info{
    color: rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
    font-size: 7vh;
}

.basic-info{
    background-color: #6967c6;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}


.pp{
    display: flex;
    position: relative;
    top: 550px;
    left: 25px;
    border-radius: 15%;
    z-index: 1;
}

.list1{
    padding-top: 5%;
    color: rgb(0, 0, 0);
    font-size: 8vh;
    display: block;
    word-spacing: 1px;
    list-style: none;
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.45;
    padding-left: 20%;
}

.skills{
    background-color: aliceblue;
}

.skillstitle{  
    color: #ffffff;
    font-size: 20vh;
}

.skillstree{
    width: 100%;
}

.bottomcover1{
    display: flex;
    position: relative;
    bottom: 200px;
    left: 120px;
    height: 100px;
    width: 300px;
    background-color: #f0f8ff;
}

.bottomcover2{
    display: flex;
    position: relative;
    bottom: 250px;
    left: 820px;
    height: 100px;
    width: 600px;
    background-color:  #f0f8ff ;
}




@media screen and (max-width: 760px) {

    .maintitle{
        background: #232526;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 20%;
        padding-bottom: 25%;
        font-size: 13vh;
        margin-left:8%;
    }

    .subtitle{
        background: #232526;  /* fallback for old browsers */
         background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip: text;
         -moz-background-clip: text;
         -webkit-text-fill-color: transparent;
         padding-top: 40%;
       font-size: 7vh;
    }

    .bubbles1{
        display: flex;
        position: relative;
        top: -220px;
        right: 80px;
        width: 100%;
    }

    .pp{
        padding-top: 15%;
        display: block;
        padding-bottom: 25%;
        margin-left: 20%;
        border-radius: 25%;
    }

    .basic-info{
        background-image: url(../images/silla-movil.jpg);
        background-size: cover;
        background-attachment: fixed;
    }

    .list1{
        color: rgb(0, 0, 0);
        font-size: 4.5vh;
        display: block;
        list-style: none;
        background: #E0EAFC;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        opacity: 0.8;
        padding-left: 5%;
    }

    .title-info{
        color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 50px;
        font-size: 12vh;
        margin: 1 auto;
    }

    .skills{
        background-color: #ffffff;
    }

    .skillstree{
        width: 100%;
    }
    

}